{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de medicamentos</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Código nacional</th>
                <th>Laboratorio</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td><a href="{{ path('medicament_edit', { 'id': medicament.id }) }}">{{ medicament.id }}</a></td>
                <td>{{ medicament.name }}</td>
                <td>{{ medicament.code }}</td>
                <td>{{ medicament.laboratory }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medicament_new') }}">Crear un medicamento</a>
        </li>
    </ul>
{% endblock %}
