{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contractdescriptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contractDescription in contractDescriptions %}
            <tr>
                <td><a href="{{ path('contractdescription_show', { 'id': contractDescription.id }) }}">{{ contractDescription.id }}</a></td>
                <td>{{ contractDescription.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contractdescription_show', { 'id': contractDescription.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contractdescription_edit', { 'id': contractDescription.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contractdescription_new') }}">Create a new contractDescription</a>
        </li>
    </ul>
{% endblock %}
